<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Forms for Movie</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>Create a movie</h1>

        <form method="post">
            <input type="hidden" name="_method" value="put" th:if="${movie != null}">
            <input type="hidden" name="id" th:value="${movie?.id}">

            <div>
                <label for="name">Name:</label>
                <input id="name" name="name" th:value="${movie?.name}">
            </div>

            <div>
                <label for="duration">Duration (in minutes):</label>
                <input id="duration" name="duration" th:value="${movie?.duration}">
            </div>

            <div>
                <label for="yr_of_release">Year of Release:</label>
                <input id="yr_of_release" name="yr_of_release" th:value="${movie?.yrOfRelease}">
            </div>

            <div>
                <label for="genre">Genre:</label>
                <input id="genre" name="genre" th:value="${movie?.genre}">
            </div>

            <input type="submit" value="Create">
        </form>
    </div>
</body>
</html>