<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>List of Movies</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>List of Movies</h1>
        <a href="/movies/forms">New Movie</a>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Duration</th>
                    <th>Year of Release</th>
                    <th>Genre</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="movie : ${list}">
                <td th:text="${movie.name}"></td>
                <td th:text="${movie.duration}"></td>
                <td th:text="${movie.yr_of_release}"></td>
                <td th:text="${movie.genre}"></td>
                <td>
                    <a th:href="@{/movies/forms?id={id}(id=${movie.id})}">Update</a>

                    <form action="/movies" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="id" th:value="${movie.id}">
                        <input type="submit" value="Exclude">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>